In [1]:
import nltk
nltk.download('punkt')
text = nltk.word_tokenize('Is it possible distinguishing cats and dogs')
text

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Seungyun\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['Is', 'it', 'possible', 'distinguishing', 'cats', 'and', 'dogs']

In [2]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Seungyun\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
nltk.pos_tag(text)

[('Is', 'VBZ'),
 ('it', 'PRP'),
 ('possible', 'JJ'),
 ('distinguishing', 'VBG'),
 ('cats', 'NNS'),
 ('and', 'CC'),
 ('dogs', 'NNS')]

In [4]:
import nltk
nltk.download('punkt')
string1 = 'my favorite subject is math'
string2 = 'my favorite subject is math, english, economic and computer science'

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Seungyun\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [5]:
nltk.word_tokenize(string1)

['my', 'favorite', 'subject', 'is', 'math']

In [6]:
nltk.word_tokenize(string2)

['my',
 'favorite',
 'subject',
 'is',
 'math',
 ',',
 'english',
 ',',
 'economic',
 'and',
 'computer',
 'science']

In [7]:
# from konlpy.tag import Komoran
# komoran = Komoran()
# print(komoran.morphs('딥러닝이 쉽나요? 어렵나요?'))

In [8]:
# print(komoran.pos('소파 위에 있는 것이 고양이인가요? 강아지인가요?'))

## Preprocessing

### Missing values

In [9]:
import pandas as pd
df = pd.read_csv('../chap09/data/class2.csv')
df

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [10]:
df.isnull().sum()

Unnamed: 0    0
id            0
tissue        0
class         0
class2        0
x             2
y             2
r             2
dtype: int64

In [11]:
df.isnull().sum()/len(df)

Unnamed: 0    0.000000
id            0.000000
tissue        0.000000
class         0.000000
class2        0.000000
x             0.333333
y             0.333333
r             0.333333
dtype: float64

In [12]:
df = df.dropna(how='all')
print(df)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [13]:
df1 = df.dropna()
print(df1)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [14]:
df2 = df.fillna(0)
df2

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    0.0    0.0    0.0
3           3  mdb003      C  CIRC      B    0.0    0.0    0.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [15]:
df['x'].fillna(df['x'].mean(), inplace=True)
df

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I  500.0    NaN    NaN
3           3  mdb003      C  CIRC      B  500.0    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

### Tokenization

In [16]:
from nltk import sent_tokenize
text_sample = 'Natural Language Processing, or NLP, is the process of extracting the meaning, or intent, behind human language. In the field of Conversational artificial intelligence (AI), NLP allows machines and applications to understand the intent of human language inputs, and then generate appropriate responses, resulting in a natural conversation flow.'
tokenized_sentences = sent_tokenize(text_sample)
tokenized_sentences

['Natural Language Processing, or NLP, is the process of extracting the meaning, or intent, behind human language.',
 'In the field of Conversational artificial intelligence (AI), NLP allows machines and applications to understand the intent of human language inputs, and then generate appropriate responses, resulting in a natural conversation flow.']

In [17]:
from nltk import word_tokenize
sentence = "This book is for deep learning learners"
words = word_tokenize(sentence)
words

['This', 'book', 'is', 'for', 'deep', 'learning', 'learners']

In [18]:
from nltk.tokenize import WordPunctTokenizer
sentence = "it's nothing that you don't already know except most people aren't aware of how their inner world works."
words = WordPunctTokenizer().tokenize(sentence)
words

['it',
 "'",
 's',
 'nothing',
 'that',
 'you',
 'don',
 "'",
 't',
 'already',
 'know',
 'except',
 'most',
 'people',
 'aren',
 "'",
 't',
 'aware',
 'of',
 'how',
 'their',
 'inner',
 'world',
 'works',
 '.']

In [19]:
# import csv
# from konlpy.tag import Okt
# from gensim.models import word2vec

# f = open(r'../chap09/data/ratings_train.txt', 'r', encoding='utf-8')
# rdr = csv.reader(f, delimiter='\t')
# rdw = list(rdr)
# f.close()

In [20]:
# twitter = Okt()

# result = []
# for line in rdw:
#     malist = twitter.pos( line[1], norm=True, stem=True)
#     r = []
#     for word in malist:
#         if not word[1] in ["Josa","Eomi","Punctuation"]:
#             r.append(word[0])
#     rl = (" ".join(r)).strip()
#     result.append(rl)
#     print(rl)

In [21]:
# with open("NaverMovie.nlp",'w', encoding='utf-8') as fp:
#     fp.write("\n".join(result))

In [22]:
# mData = word2vec.LineSentence("NaverMovie.nlp")
# mModel =word2vec.Word2Vec(mData, vector_size=200, window=10, hs=1, min_count=2, sg=1)
# mModel.save("NaverMovie.model")

### Stop word eliminate

In [23]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
from nltk.tokenize import word_tokenize

sample_text = "One of the first things that we ask ourselves is what are the pros and cons of any task we perform"
text_tokens = word_tokenize(sample_text)

tokens_without_sw = [word for word in text_tokens if not word in stopwords.words('english')]

print("불용어 제거 미적용:", text_tokens, '\n')
print("불용어 제거 적용:", tokens_without_sw)

불용어 제거 미적용: ['One', 'of', 'the', 'first', 'things', 'that', 'we', 'ask', 'ourselves', 'is', 'what', 'are', 'the', 'pros', 'and', 'cons', 'of', 'any', 'task', 'we', 'perform']

불용어 제거 적용: ['One', 'first', 'things', 'ask', 'pros', 'cons', 'task', 'perform']

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Seungyun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Seungyun\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

### Stemming

In [24]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

print(stemmer.stem('obesses'), stemmer.stem('obssesed'))
print(stemmer.stem('standardizes'), stemmer.stem('standardization'))
print(stemmer.stem('national'), stemmer.stem('nation'))
print(stemmer.stem('absentness'), stemmer.stem('absently'))
print(stemmer.stem('tribalical'), stemmer.stem('tribalicalized'))

obess obsses
standard standard
nation nation
absent absent
tribal tribalic

In [25]:
from nltk.stem import LancasterStemmer
stemmer = LancasterStemmer()

print(stemmer.stem('obesses'), stemmer.stem('obssesed'))
print(stemmer.stem('standardizes'), stemmer.stem('standardization'))
print(stemmer.stem('national'), stemmer.stem('nation'))
print(stemmer.stem('absentness'), stemmer.stem('absently'))
print(stemmer.stem('tribalical'), stemmer.stem('tribalicalized'))

obess obsses
standard standard
nat nat
abs abs
trib trib

### Lemmatization

In [26]:
import nltk
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
lemma = WordNetLemmatizer()

print(lemma.lemmatize('obesses'), lemma.lemmatize('obssesed'))
print(lemma.lemmatize('standardizes'), lemma.lemmatize('standardization'))
print(lemma.lemmatize('national'), lemma.lemmatize('nation'))
print(lemma.lemmatize('absentness'), lemma.lemmatize('absently'))
print(lemma.lemmatize('tribalical'), lemma.lemmatize('tribalicalized'))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Seungyun\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

obesses obssesed
standardizes standardization
national nation
absentness absently
tribalical tribalicalized

In [27]:
print(lemma.lemmatize('obesses', 'v'), lemma.lemmatize('obssesed','a'))
print(lemma.lemmatize('standardizes','v'), lemma.lemmatize('standardization','n'))
print(lemma.lemmatize('national','a'), lemma.lemmatize('nation','n'))
print(lemma.lemmatize('absentness','n'), lemma.lemmatize('absently','r'))
print(lemma.lemmatize('tribalical','a'), lemma.lemmatize('tribalicalized','v'))

obesses obssesed
standardize standardization
national nation
absentness absently
tribalical tribalicalized

### normalization

In [28]:
import pandas as pd
import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [29]:
df = pd.read_csv('../chap09/data/diabetes.csv')
X = df[df.columns[:-1]]
y = df['Outcome']

X = X.values
y = torch.tensor(y.values)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [30]:
ms = MinMaxScaler()
ss = StandardScaler()

X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)
y_train =y_train.reshape(-1, 1)
y_test =y_test.reshape(-1, 1)
y_train = ms.fit_transform(y_train)
y_test = ms.fit_transform(y_test)

In [31]:
class customdataset(Dataset):
    def __init__(self, X, y):
        self.X = X
        self.y = y
        self.len = len(self.X)
    def __getitem__(self, index):
        return self.X[index], self.y[index]
    def __len__(self):
        return self.len

In [32]:
train_data = customdataset(torch.FloatTensor(X_train), 
                       torch.FloatTensor(y_train))
test_data = customdataset(torch.FloatTensor(X_test), 
                       torch.FloatTensor(y_test))

train_loader = DataLoader(dataset=train_data, batch_size=64, shuffle=True)
test_loader = DataLoader(dataset=test_data, batch_size=64, shuffle=False)

In [33]:
class binaryClassification(nn.Module):
    def __init__(self):
        super(binaryClassification, self).__init__()
        self.layer_1 = nn.Linear(8, 64, bias=True) 
        self.layer_2 = nn.Linear(64, 64, bias=True)
        self.layer_out = nn.Linear(64, 1, bias=True)         
        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(p=0.1)
        self.batchnorm1 = nn.BatchNorm1d(64)
        self.batchnorm2 = nn.BatchNorm1d(64)
        
    def forward(self, inputs):
        x = self.relu(self.layer_1(inputs))
        x = self.batchnorm1(x)
        x = self.relu(self.layer_2(x))
        x = self.batchnorm2(x)
        x = self.dropout(x)
        x = self.layer_out(x)        
        return x

In [34]:
epochs = 1000+1
print_epoch = 100
lr = 1e-2

model = binaryClassification()
model.to(device)
print(model)
BCE = nn.BCEWithLogitsLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=lr)

binaryClassification(
  (layer_1): Linear(in_features=8, out_features=64, bias=True)
  (layer_2): Linear(in_features=64, out_features=64, bias=True)
  (layer_out): Linear(in_features=64, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (batchnorm2): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [35]:
def accuracy(y_pred, y_test):
    y_pred_tag = torch.round(torch.sigmoid(y_pred))
    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    acc = torch.round(acc*100)
    return acc

In [36]:
for epoch in range(epochs):
    iteration_loss = 0.
    iteration_accuracy = 0.
    
    model.train()
    for i, data in enumerate(train_loader):
        X, y = data
        X, y= X.to(device), y.to(device)
        y_pred = model(X.float())
        loss= BCE(y_pred, y.reshape(-1,1).float())
        
        iteration_loss += loss
        iteration_accuracy += accuracy(y_pred, y)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        
    if (epoch %print_epoch == 0):
        print('Train: epoch: {0} - loss:{1:.5f}; acc: {2:.3f}'.format(epoch, iteration_loss/(i+1), iteration_accuracy/(i+1)))
        
    iteration_loss = 0.
    itreation_accuracy = 0.
    model.eval()
    
    for i, data in enumerate(test_loader):
        X,y = data
        X, y= X.to(device), y.to(device)
        y_pred = model(X.float())
        loss = BCE(y_pred, y.reshape(-1,1).float())
        iteration_loss += loss
        iteration_accuracy += accuracy(y_pred,y)
        
    if (epoch %print_epoch == 0):
        print('Test: epoch: {0} - loss:{1:.5f}; acc: {2:.3f}'.format(epoch, iteration_loss/(i+1), iteration_accuracy/(i+1)))

Train: epoch: 0 - loss:0.70710; acc: 51.778
Test: epoch: 0 - loss:0.68129; acc: 180.750
Train: epoch: 100 - loss:0.38244; acc: 83.667
Test: epoch: 100 - loss:0.48891; acc: 265.500
Train: epoch: 200 - loss:0.41354; acc: 80.556
Test: epoch: 200 - loss:0.48894; acc: 258.750
Train: epoch: 300 - loss:0.42106; acc: 77.111
Test: epoch: 300 - loss:0.49784; acc: 249.000
Train: epoch: 400 - loss:0.38211; acc: 83.222
Test: epoch: 400 - loss:0.49850; acc: 264.250
Train: epoch: 500 - loss:0.42276; acc: 78.222
Test: epoch: 500 - loss:0.58917; acc: 253.500
Train: epoch: 600 - loss:0.51422; acc: 79.111
Test: epoch: 600 - loss:0.49473; acc: 252.750
Train: epoch: 700 - loss:0.34827; acc: 83.556
Test: epoch: 700 - loss:0.50145; acc: 264.250
Train: epoch: 800 - loss:0.36610; acc: 82.889
Test: epoch: 800 - loss:0.51372; acc: 263.250
Train: epoch: 900 - loss:0.30763; acc: 85.889
Test: epoch: 900 - loss:0.54667; acc: 270.250
Train: epoch: 1000 - loss:0.38958; acc: 78.444
Test: epoch: 1000 - loss:0.52231; acc: 252.750